.heading-01 {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  color: #c4c4c4;
}

.heading-02 {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  color: #c4c4c4;
}

.heading-03 {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  /* or 130% */
  color: #c4c4c4;
}

.heading-04 {
  font-family: CircularXX;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 36px;
  /* or 129% */
  display: flex;
  align-items: center;
  text-align: center;
}

.heading-05 {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height, or 125% */
  color: #c4c4c4;
}

.heading-06 {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 50px;
  /* or 119% */
  color: #c4c4c4;
}

.heading-07 {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 54px;
  line-height: 64px;
  /* or 119% */
  color: #c4c4c4;
}
